<div class="container root-container">
  <div class="row text-center the-header">
    <div class="col">
      <h1>Welcom To Herolo Books App</h1>
      <h3 class="quote">"The best advice I ever got was that knowledge is power and to keep reading." (David Bailey)</h3>
    </div>
  </div>
  <app-books-list></app-books-list>
  <div class="row text-center the-footer">
    <div class="col">
      <p>&copy; All Rights Reserved to HEROLO<br>Written By: Amit Dar 
      <a href="https://github.com/amitdarpro/ng-books-app" target="_blank" title="See Source on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a> </p>
    </div>
  </div>
</div>
